/* Fonts
 =============================================================*/

body, h1, h2, h3, h4, h5, h6,
.uk-navbar-nav > li > a { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;}



/* Base
 =============================================================*/



/* Layout
 =============================================================*/
.tm-background {
    /*background: #252525;*/
}


/**
 * Header
 */
.tm-header {
    height: 40px;
    background-color: #318CB8;
}


/*
 * TODO:サイドメニュー実装のために必要
 */
.wrapper {
    position: relative;
    left: 0;
    overflow-x: hidden;
}

/**
 * Blocks
 */

.tm-middle,
.tm-footer {
    padding: 90px 0;
}


/**
 * Middle
 */
.tm-middle {
    background: #f8f8f8;
}

.tm-sidebar {
    border-right: 1px solid #E5E5E5;
}

.tm-main {
    padding-left: 50px; !important;
}

/**
 * Footer
 */
.tm-footer {
    color: #ddd !important;
}


/* Component
 =============================================================*/
.tm-upload-button {
    display:inline-block;
    position:relative;
    overflow:hidden;
    border-radius:4px;
    background:#099;
    color:#fff;
    text-align:center;
    padding:8px;
    line-height:25px;
    width:150px;
    cursor:pointer;
}

.tm-upload-button input[type=file] {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    cursor:pointer;
    opacity:0;
}



/* Uikit component modifiers
 =============================================================*/

/**
 * Breadcrumb
 */
.tm-breadcrumb {
    background: #ffffff;
    margin: 0;
    padding: 10px;
}

.tm-box-breadcrumb {
    box-shadow: 0px 0px 1px 1px #c7c7c7;
    position:relative;
    z-index:2;
}


/**
 * Navbar
 */
/*.tm-navbar {*/
    /*padding: 15px 0;*/
    /*background: #222222;*/
/*}*/

/*.tm-navbar .uk-navbar-nav > li {*/
    /*margin-left: 20px;*/
/*}*/
/*.tm-navbar .uk-navbar-nav > li > a {*/
    /*border: none;*/
    /*border-radius: 3px !important;*/
    /*font-size: 15px;*/
    /*text-shadow: none;*/
/*}*/

/*/!* Hover *!/*/
/*.tm-navbar .uk-navbar-nav > li:hover > a {*/
    /*border: none;*/
    /*color: #FFFFFF;*/
/*}*/

/*/!* Active *!/*/
/*.tm-navbar .uk-navbar-nav > li.uk-active > a {*/
    /*background-color: #2BA3D4;*/
    /*color: #FFFFFF;*/
/*}*/

/*/!* Onclick *!/*/
/*.tm-navbar .uk-navbar-nav > li > a:active { background-color: transparent; }*/


/*/!***/
 /** Nav*/
 /**!/*/
/*.tm-nav > li > a {*/
    /*color: #777777;*/
/*}*/

/*/!* Hover *!/*/
/*.tm-nav > li > a:hover,*/
/*.tm-nav > li > a:focus,*/
/*.tm-nav > li.uk-active > a  {*/
    /*background: #F5F5F5;*/
    /*color: #444;*/
/*}*/
.tm-navbar {

}

.tm-navbar > li {
    margin-top: 30px;
}

.tm-navbar > li > a {
    color: white;
    padding-left: 30px;
}

/**
 * SlideMenu
 */
.slide_menu{
    position: fixed;
    top: 40px;
    left: -240px;
    width: 240px;
    height: 100%;
    background: #224E6B;
}

